torch==2.10.0
numpy==2.4.3
pandas==3.0.1
recbole==1.2.0
kmeans-pytorch==0.3
colorlog==4.7.2
colorama==0.4.4
tabulate==0.10.0
texttable==1.7.0
thop==0.1.1.post2209072238
psutil==7.2.2
pyarrow==23.0.1
tensorboard==2.20.0
tensorboard-data-server==0.7.2
pytest==8.4.2
